body {
    background: #000000;; /* For browsers that do not support gradients */
    background: -webkit-radial-gradient(#060999,#000000); /* Safari 5.1 to 6.0 */
    background: -o-radial-gradient(#060999,#000000); /* For Opera 11.6 to 12.0 */
    background: -moz-radial-gradient(#060999,#000000); /* For Firefox 3.6 to 15 */
    background: radial-gradient(#060999,#000000); /* Standard syntax */
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
    margin: 0;
}

.content {
    background-color: #ffffff;
    border-radius: 4%;
    box-shadow: 0 0 25px #00258d;
}

